<c-card-group class="mb-4" style="text-align: center;">
  <c-card>
    <div>
      <img cCardImg="top" [routerLink]="['/product/', categoryItem.id]" [src]="categoryItem.imageUrl" width="414.4px" height="414.4px" style="object-fit: fill">
    </div>
    <c-card-body>
      <h2 cCardTitle>
        <a style="color: black; text-decoration: none" [routerLink]="['/product/', categoryItem.id]">{{ categoryItem.name }}</a>
      </h2>
      <!--<p cCardText>
        {{categoryItem.name}}
      </p>-->
      <!--<p cCardText>
        <small class="text-medium-emphasis">Last updated 3 mins ago</small>
      </p>-->
    </c-card-body>
  </c-card>
</c-card-group>



