<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
  <h5 style="margin-left: 100px" class="my-0 mr-md-auto font-weight-normal">
    <app-header></app-header>
  </h5>

  <nav class="d-inline-flex mt-2 mt-md-0 mx-auto fs-4" style="text-transform: uppercase">
    <a class="me-3 py-2 text-decoration-none nav-link" [routerLink]= "['/home']">Trang chủ</a>
    <a class="me-3 py-2 text-decoration-none nav-link" [routerLink]= "['/product/all']">Sản phẩm</a>
    <a class="me-3 py-2 text-decoration-none nav-link" [routerLink]= "['/home']">Hỗ trợ</a>
    <a class="py-2 text-decoration-none nav-link" [routerLink]= "['/home']">Liên hệ</a>
  </nav>

  <div class="input-group mx-4" style="width: 300px;">
    <input type="text" class="form-control" placeholder="Tìm kiếm..." [(ngModel)]="searchQuery" (keydown.enter)="onSearch()" />
    <button class="btn btn-primary" type="button" (click)="onSearch()">Tìm kiếm</button>
  </div>

  <i class="fa" style="margin-left: 40px; font-size:24px" (click)="viewDetailCart()">&#xf07a;</i>
  <span class='badge badge-warning' id='lblCartCount'> {{countCart}} </span>
  <a *ngIf="!isLoggedIn" style="margin-left: 40px; margin-right: 50px" class="btn btn-outline-primary" [routerLink]= "['/login']">Đăng nhập</a>
  <div *ngIf="isLoggedIn" style="margin-left: 40px; margin-right: 50px">
    <c-dropdown>
      <button cButton cDropdownToggle color="secondary" >
        Chao xìn: {{username}}
      </button>
      <ul cDropdownMenu>
        <li><button (click)="viewDetailUser()" cDropdownItem>Hồ sơ cá nhân</button></li>
        <li><button (click)="viewTransactionHistory()" cDropdownItem>Lịch sử đơn hàng</button></li>
        <li><button (click)="logout()" cDropdownItem>Đăng xuất</button></li>
      </ul>
    </c-dropdown>
  </div>
</div>

