.nav-link {
  color: #333; /* Màu chữ */
  font-size: 20px; /* Kích thước chữ */
  font-weight: bold; /* Đậm */
  text-decoration: none; /* Bỏ gạch chân */
  transition: color 0.3s ease; /* Hiệu ứng chuyển màu khi hover */
}

.nav-link:hover {
  color: #007bff; /* Màu chữ khi hover */
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}


