<div class="row">
  <div class="col-lg-12">
    <div class="card" style="min-width: 630px">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> List Product
      </div>
      <div class="card-body" >
        <button mat-raised-button color="primary" (click)="addNewProduct()" > Add new product </button>
        <button mat-raised-button color="primary" (click)="exportExcel()" > Export excel </button>
        <hr>
        <div class="row d-flex align-items-center px-4 flex-wrap justify-content-between border-bottom">
          <div class="col-lg-1 mb-3 d-flex align-items-center flex-shrink-1">
            <select id="page-size" class="form-control form-control-sm flex-shrink-1 ph-custom-select"
                    [(ngModel)]="size" (change)="onPageChange(1)">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
            </select>
          </div>
        </div>
        <table class="table table-bordered table-responsive-sm table-hover table-outline" style="min-width: 550px">
          <thead>
          <tr>
            <th class="headingTable">Id</th>
            <th class="headingTable">Name</th>
            <th> Creator </th>
            <th> Description </th>
            <th> Detail </th>
            <th class="headingTable">ImageUrl</th>
            <th> Price </th>
            <th> Quantity </th>
            <th> Category </th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let item of productList | paginate: { id: 'change-list-page', itemsPerPage: size, currentPage: currentPage, totalItems: totalElements}">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.creator}}</td>
            <td>{{item.description}}</td>
            <td>{{item.detail}}</td>
            <td style="text-align: center;">
              <img src="{{item.imageUrl}}" style="max-width: 60px; height: auto; margin-right: 5px" class="img-responsive img-thumbnail">
            </td>
            <td>{{item.price}}</td>
            <td>
              <p *ngFor="let size of Object.entries(item.sizeQuantityMap)">
                {{ size[0] }}: {{ size[1] }}
              </p>
            </td>
            <td>
              <p *ngFor="let category of item.categories">{{category.name}}</p>
            </td>
            <td>
              <button class="btn btn-primary" (click)="editProduct(item)"> Edit </button>
              <button class="btn btn-danger" (click)="deleteProduct(item.id)"> Delete </button>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-sm-12 col-md-7 text-right">
            <pagination-controls id="change-list-page" class="mt-5"
                                 previousLabel="Trước"
                                 nextLabel="Sau"
                                 (pageChange)="onPageChange($event)">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




