<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<app-nav></app-nav>

<h1 style="text-align: center; "> Check out </h1>

<div class="container-all">
  <div class="row">
    <div class="col-75">
      <div class="container">
        <app-customer-info></app-customer-info>
      </div>
    </div>

    <div class="col-25">
      <div class="container">
        <app-cart-info></app-cart-info>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>


