/* ===CODFE HEADING STYLE #4 === */
.cf-title-04 h1 {
  text-align: center;
  padding-bottom: 0.7em;
}
.cf-title-04 h1 span {
  font-weight: 300;
  word-spacing: 3px;
  line-height: 2em;
  padding-bottom: 0.35em;
  color: rgba(0, 0, 0, 0.5);
}
.cf-title-04 h1:before {
  position: absolute;
  left: 0;
  bottom: -1em;
  width: 60px;
  height: 1px;
  content: "";
  left: 50%;
  margin-left: -30px;
  background-color: #777;
}

