<div class="card shadow-sm">
  <img class="bd-placeholder-img card-img-top" style="object-fit: contain" width="262px" height="262px" [src]="productItem.imageUrl">
  <div class="card-body">
    <p class="card-text">
      <small> {{productItem.price | currency: 'VND'}}</small>
    </p>
    <p class="card-text">
      <strong>{{productItem.name}}</strong>
    </p>
    <p class="card-text">{{productItem.description}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary product-btn" (click)="addToCart()" style="border-radius: 10px;">Add to Cart</button>
        <button type="button" class="btn btn-sm btn-outline-secondary product-btn" style="border-radius: 10px; margin-left: 30px">View Details</button>
      </div>
    </div>
  </div>
</div>
