<div class="row">
  <div class="col-lg-12">
    <div class="card" style="min-width: 630px">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Orders
      </div>
      <div class="card-body" >
        <div class="row d-flex align-items-center px-4 flex-wrap justify-content-between border-bottom">
          <div class="col-lg-1 mb-3 d-flex align-items-center flex-shrink-1">
            <select id="page-size" class="form-control form-control-sm flex-shrink-1 ph-custom-select"
                    [(ngModel)]="size" (change)="onPageChange(1)">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
            </select>
          </div>
        </div>
        <table class="table table-bordered table-responsive-sm table-hover table-outline" style="min-width: 550px">
          <thead>
          <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Name</th>
            <th>Email</th>
            <th>Payment Method</th>
            <th>Payment Status</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let item of ordersList | paginate: { id: 'change-list-page', itemsPerPage: size, currentPage: currentPage, totalItems: totalElements}">
            <td>{{item.id}}</td>
            <td>{{item.code}}</td>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.paymentMethod}}</td>
            <td>{{item.paymentStatus}}</td>
            <td>{{item.status}}</td>
            <td>
              <button class="btn btn-primary" (click)="editOrder(item)"> Edit </button>
              <button style="margin-left: 5px" class="btn btn-danger" (click)="deleteOrder(item.id)"> Delete </button>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-sm-12 col-md-7 text-right">
            <pagination-controls id="change-list-page" class="mt-5"
                                 previousLabel="Trước"
                                 nextLabel="Sau"
                                 (pageChange)="onPageChange($event)">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
