<!--<div *ngIf="cartItem && cartItem.length > 0">
  <div *ngFor="let item of cartItem">
    <p>{{item.productName}}</p>
    <input type="number" [(ngModel)]="item.qty">  </div>
</div>-->
<header id="title">
  <h1>Shopping Cart</h1>
</header>
<div *ngIf="cartItem.length == 0">
  <tr class="totalprice">
    <td colspan="2"><span class="thick">Chưa có sản phẩm nào trong giỏ hàng</span></td>
  </tr>
</div>

<div id="w" *ngIf="cartItem && cartItem.length > 0">
  <div id="page">
    <table id="cart">
      <thead>
        <tr>
          <th class="first">Photo</th>
          <th class="second">Qty</th>
          <th class="third">Product</th>
          <th class="fourth">Price</th>
          <th class="fifth">&nbsp;</th>
        </tr>
      </thead>
      <tbody>

      <tbody>
      <!-- shopping cart contents -->
      <tr class="productitm" *ngFor="let item of cartItem" >
        <td>
          <img [src]="item.imageUrl" class="thumb" style="max-width: 60px; height: auto" class="img-responsive img-thumbnail">
        </td>
        <td>
          <div *ngFor="let size of item.sizes">
            <span>{{size.size}}</span>
            <input style="margin-left: 20px" type="number" class="qtyinput" [(ngModel)]="size.quantity" (ngModelChange)="updateTotal()" min="0">
          </div>
        </td>
        <td>{{ item.productName }}</td>
        <td>{{ item.price | currency: 'VND' }}</td>
        <td><span class="remove"><img src="https://i.imgur.com/h1ldGRr.png" alt="X" (click)="removeItem(item)"></span></td>
      </tr>

      <tr class="totalprice">
        <td class="light">Total:</td>
        <td colspan="2">&nbsp;</td>
        <td colspan="2"><span class="thick">{{ calculateCartTotal() | currency: 'VND' }}</span></td>
      </tr>


      <!-- shopping cart contents -->
        <!--<tr class="productitm" *ngFor="let item of cartItem">
          <td>
            <img [src]="item.imageUrl" class="thumb" style="max-width: 60px; height: auto" class="img-responsive img-thumbnail">
          </td>
          <td>
            <input type="number" class="qtyinput" [(ngModel)]="item.quantity" (ngModelChange)="updateTotal()" min="0">
          </td>
          <td>{{item.productName}}</td>
          <td>{{item.price | currency: 'VND'}}</td>
          <td><span class="remove"><img src="https://i.imgur.com/h1ldGRr.png" alt="X" (click)="removeItem(item)"></span></td>
        </tr>

        <tr class="totalprice">
          <td class="light">Total:</td>
          <td colspan="2">&nbsp;</td>
          <td colspan="2"><span class="thick">{{calculateCartTotal()| currency: 'VND'}}</span></td>
        </tr>

        &lt;!&ndash; tax + subtotal
        <tr class="extracosts">
          <td class="light">Shipping &amp; Tax</td>
          <td colspan="2" class="light"></td>
          <td>$35.00</td>
          <td>&nbsp;</td>
        </tr>

         checkout btn &ndash;&gt;-->

        <tr class="checkoutrow">
          <td colspan="5" class="checkout">
            <button (click)="checkOut()" [routerLink]= "['/checkout']" id="submitbtn">Check out</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
