<div mat-dialog-title>
  <h1> User Form</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFromSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name"  [readonly]="true">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username"  [readonly]="true">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select formControlName="role" >
          <mat-option *ngFor="let role of roleList" [value]="role">
            {{ role }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="false"> Cancel </button>
    <button mat-raised-button color="primary" type="submit"> Save </button>
  </div>
</form>
